body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* --- HEADER --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    padding-left: 150px;
    padding-right: 150px;

    background-color: #1f2937;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 400;
}

.links {
    display: flex;
    gap: 20px;
}

.links a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}



/* --- CONTENT --- */
.content {
    flex-grow: 1;
}

/* --- FIRST SECTION --- */
.one {
    height: 300px;
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;

    flex: 1 1 auto;

    background-color: #1f2937;

}

.intro {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.intro h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #f9faf8;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro button {
    width: 100px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
}

.one img {
    width: 500px;
    height: auto;
}


/* --- SECOND SECTION --- */
.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 70px;
}

.two h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 50px;
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards div img {
    width: 100px;
    height: auto;
}

.cards div p {
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

/* --- THIRD SECTION --- */
.three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;

}

.quote {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.quote p {
    
    flex: 0 1 auto;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote p span {
    font-size: 7px;
}

.quote h6 {
    align-self: flex-end;

    font-size: medium;
    color: #1f2937;
    font-weight: 600;
    margin: 0;
}




/* --- FOOTER --- */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}